<component name="libraryTable">
  <library name="Server">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/Server.jar!/" />
      <root url="jar://$PROJECT_DIR$/FreeTTSHelloWorld.jar!/" />
      <root url="jar://$PROJECT_DIR$/MixedVoices.jar!/" />
      <root url="jar://$PROJECT_DIR$/EmacspeakServer.jar!/" />
      <root url="jar://$PROJECT_DIR$/Player.jar!/" />
      <root url="jar://$PROJECT_DIR$/Client.jar!/" />
      <root url="jar://$PROJECT_DIR$/FreeTTSEmacspeakServer.jar!/" />
      <root url="jar://$PROJECT_DIR$/JavaSoundDemo.jar!/" />
      <root url="jar://$PROJECT_DIR$/JTime.jar!/" />
      <root url="jar://$PROJECT_DIR$/HelloWorld.jar!/" />
      <root url="jar://$PROJECT_DIR$/WebStartClock.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>